body{
    margin: 0%;
}
#container{
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 2fr 10fr;
}
img{
    height: 20px;
    width: auto;
    color: white;
}
div{
    border: 2px dashed black;
}

#sidebar{
    display: grid;
    grid-column: 1/2;
    grid-row: 1 / 10;
    height: 100vh;
}
#sidebar span *{
    display: block;

}



#header{
    height: 20vh;
    grid-row: 1/4;
    grid-column: 2/7;
}
#main{
    grid-row: 4/10;
    grid-column:2 /7;
}