body{
    margin: 0%;
}
#container{
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 2fr 10fr;
}
img{
    margin-right: 70px;
    height: 25px;
    width: auto;
    color: white;
}
div{
    border: 2px dashed black;
}

#sidebar{
    display: grid;
    grid-column: 1/2;
    grid-row: 1 / 10;
    height: 100vh;
    background-color: #0b84ba;
}

#sidebar button{
    display: flex;
    justify-content: flex-start;
    margin:7px 0;
    height: 5vh;
    text-align: center;
    align-items: center;
    background-color: #0b84ba;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: 0;
}

#sidebar button:hover{
    background-color: white;
    color: black;
    cursor: pointer;

}

#dash_one, #dash_two{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
}

#sidebar .dashboard{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0% 0%;
    width: auto;
    height: 12vh;
    font-size: 25px;
}

#sidebar .dashboard img{
margin: 1.1em;
height: 50px;
}



#header{
    height: 20vh;
    grid-row: 1/4;
    grid-column: 2/7;
}
#main{
    grid-row: 4/10;
    grid-column:2 /7;
}

